body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/fondo.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: rgba(45, 113, 190, 0.397);
}

.col-40 h1 {
  font-size: 20px;
  color: rgb(45, 113, 190);
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: rgb(207, 238, 243);
  padding: 30px;
  color: #000;
  align-items: center;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.col-60 .container{
  height: 600px;
  width: 600px;
  background-color: #e8c34a;
}

.col-60 .container img{
  display: flex;
  width: 33%;
  height: 33%;
  float:left;
  border: rgb(255, 255, 255) 0.01px solid;
}
#objetivo img{
  width: 50%;  
}
#titulo{
  margin-top: -1%;
  letter-spacing: 3px;
  font-size: 148%;
  font-weight: bold;
  color: rgb(45, 113, 190);
  padding-left: 5%;
  text-align: center;
  border-radius: 5px;
}

#instrucciones{
  color:  rgb(45, 113, 190) ;
  font-size: 120%;
}
#instrucciones li{
  color:#000;
  font-size: 80%;
}
#objetivo{
  color: rgb(45, 113, 190) ;
  font-size: 120%;
}
#ultimo-mov{
  color:  rgb(45, 113, 190) ;
  font-size: 120%;
}
button {
  display: flex;
  width: 50%;
  background-color:rgb(240, 86, 86);
  height: 15%;
  justify-content: center;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  margin-left: 25%;
  border-color: rgb(240, 86, 86);
}
#footer{
  display: flex;
  color:white;
  justify-content: flex-end;  
}