/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.col-60 .container{
  height: 600px;
  width: 600px;
  background-color: #e8c34a;
}

.col-60 .container img{
  display: flex;
  width: 33%;
  height: 33%;
  float:left;
  border: rgb(31, 161, 201) 0.01px solid;
}
#objetivo img{
  width: 50%;  
}
#titulo{
  margin-top: -1%;
  letter-spacing: 10px;
  font-size: 120%;
  font-weight: bold;
  background-color: rgb(218, 85, 85);
  color: #fff;
  padding-left: 5%;
  text-align: center;
}

#instrucciones{
  color:  rgb(218, 85, 85) ;
  font-size: 120%;
}
#instrucciones li{
  color:#000;
  font-size: 80%;
}
#objetivo{
  color:  rgb(218, 85, 85) ;
  font-size: 120%;
}
#ultimo-mov{
  color:  rgb(218, 85, 85) ;
  font-size: 120%;
}
button {
  display: flex;
  width: 50%;
  background-color:rgb(31, 161, 201);
  height: 15%;
  justify-content: center;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  align-items: center;
}
